@import "tailwindcss";

.bg-menu {
 background-color: #FF6200;
}
.border-menu{
   
   border: 1px solid #FF6200;
}
.border-menu:hover{
    background-color: #FF6200;
    border: 1px solid whitesmoke;
}

.down-menu{
    background-color: #ff9946;
}
.border-down-menu{
    border: 1px solid #ff9946;
}
.border-down-menu:hover{
    border: 1px solid whitesmoke;
}
.box-shadow{
      box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2);
  -ms-interpolation-mode: bicubic;
  background-color: red;
}
.body{
    background-color: #e3e6e6;
}
